* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

*,
::before,
::after {
  box-sizing: border-box;
}

*:where(:not(fieldset, progress, meter)) {
  border-width: 0;
  border-style: solid;
  background-origin: border-box;
  background-repeat: no-repeat;
}

html {
  block-size: 100%;
}

body {
  text-rendering: optimizeSpeed;
  min-block-size: 100%;
}

:where(img, svg, video, iframe) {
  display: block;
}

:where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

:where(input, button, textarea, select, optgroup),
:where(input[type="file"])::-webkit-file-upload-button {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(ul, ol) {
  list-style: none;
}

:where(a[href],
button,
input,
label[for],
select,
summary,
textarea,
[tabindex]:not([tabindex*="-"])) {
  cursor: pointer;
  touch-action: manipulation;
}

:where(input[type="checkbox"]) {
  appearance: checkbox;
}

:where(input[type="radio"]) {
  appearance: radio;
}

:where(input[type="file"]) {
  cursor: auto;
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  cursor: pointer;
}

:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"]),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  user-select: none;
  text-align: center;
}

:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"])[disabled] {
  cursor: not-allowed;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 3em;
}

body {
  color: #2C2C2C;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 1.6rem;
}

:where(img) {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  margin: 0 auto;
}

:where(a) {
  text-decoration: none;
}

:where(input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="search"], input[type="number"], input[type="password"], textarea, select) {
  width: 100%;
  appearance: none;
  border: 2px solid #aaa;
}

:where(a:focus:not(:focus-visible),
button:focus:not(:focus-visible),
input[type="text"]:focus:not(:focus-visible),
input[type="email"]:focus:not(:focus-visible),
input[type="tel"]:focus:not(:focus-visible),
input[type="search"]:focus:not(:focus-visible),
input[type="number"]:focus:not(:focus-visible),
input[type="password"]:focus:not(:focus-visible),
textarea:focus:not(:focus-visible),
select:focus:not(:focus-visible)) {
  outline: 0;
}

textarea {
  resize: vertical;
}

.ly_siteWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.ly_header {
  position: sticky;
  top: 0;
  z-index: 20;
  transition: background-color 0.4s;
  background-color: #adc193;
  padding: 15px 0;
}

.ly_header_inner {
  width: min(100%, 980px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
}

.ly_cont_main {
  flex: 1;
  overflow-x: hidden;
  margin-right: 3%;
}

.ly_cont {
  padding: 40px 0;
}

.ly_cont_inner {
  width: min(100%, 980px);
  margin: auto;
  padding: 0 4vw;
}

.ly_footer {
  padding: 20px 0;
  background-color: #bcbcff;
}

.ly_footer_inner {
  width: min(100%, 980px);
  margin: auto;
  padding: 0 4vw;
}

.bl_loading {
  background: radial-gradient(#dbedff, #7fbfff);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 70;
}

.bl_loading_animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 100%;
  animation: scaleout 1s infinite ease-in-out;
}

@keyframes scaleout {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.bl_headerLogo {
  max-width: 200px;
}

.bl_headerNav {
  display: none;
}

.bl_headerList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bl_headerList > * + * {
  margin-left: 56px;
}

.bl_headerList a {
  line-height: 1.5;
  padding: 0.8em;
}

.bl_drawer_wrapper {
  position: fixed;
  top: 9vw;
  right: 4vw;
  z-index: 50;
  transition: background-color 0.4s;
}

.bl_drawer {
  position: relative;
  width: 40px;
  height: 30px;
}

.bl_drawerLine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: currentColor;
  transition: transform 0.4s, background-color 0.4s;
  width: 100%;
  height: 2px;
  display: inline-block;
}

.bl_drawerLine::before,
.bl_drawerLine::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: currentColor;
  transition: transform 0.4s, top 0.4s;
}

.bl_drawerLine::before {
  top: -9px;
}

.bl_drawerLine::after {
  top: 9px;
}

.bl_drawerNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.9);
  transform: translateX(100%);
  transition: transform 0.4s;
  overflow-y: auto;
}

.bl_drawerList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;
}

.bl_drawerList > * + * {
  margin-top: 2em;
}

.bl_drawerList a {
  display: block;
  line-height: 1.5;
  padding: 1em;
}

.bl_breadcrumb {
  display: flex;
  align-items: center;
  margin: 1em 1em 0 1em;
}

.bl_breadcrumb li {
  display: flex;
  align-items: center;
}

.bl_breadcrumb li:not(:last-of-type) {
  margin-right: 0.6em;
}

.bl_breadcrumb li:not(:last-of-type)::after {
  content: ">";
  padding-left: 0.6em;
}

.bl_breadcrumb li:last-of-type a {
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}

.bl_pager {
  max-inline-size: max-content;
  margin-inline: auto;
}

.bl_pager_inner {
  display: flex;
  align-items: center;
}

.bl_pager_inner li:not(:last-of-type) {
  margin-right: 0.6em;
}

.bl_pager_link {
  font-size: clamp(1.8rem, calc(1.8rem + ((100vw - 750px) * ((26 - 18) / (1200 - 750)))), 2.6rem );
  letter-spacing: 0.15em;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.bl_pager_link.is_active {
  background-color: orange;
}

.bl_footerNav {
  max-inline-size: max-content;
  margin-inline: auto;
}

.bl_footerCopy {
  display: block;
  font-size: 1rem;
  text-align: center;
}

.el_btn__orange {
  background-color: orange;
}

.el_afterIconBtn {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 0.5em;
  align-items: center;
  border: 2px solid transparent;
  color: #fff;
  font-weight: 700;
  font-size: clamp(1.6rem, calc(1.6rem + ((100vw - 750px) * ((20 - 16) / (1200 - 750)))), 2rem );
  line-height: 1.5;
  margin: auto;
  padding: 0.7em 2em;
  width: fit-content;
}

.el_afterIconBtn::before {
  content: "";
}

.el_afterIconBtn__arrow::after {
  content: "";
  border-right: 3px solid currentColor;
  border-bottom: 3px solid currentColor;
  width: 0.6em;
  height: 0.6em;
  transform: rotate(-45deg);
  justify-self: end;
}

.el_lv2Heading {
  font-size: clamp(1.6rem, calc(1.6rem + ((100vw - 750px) * ((52 - 16) / (1200 - 750)))), 5.2rem );
  font-weight: 700;
  letter-spacing: 0.024em;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.el_lv3Heading {
  font-family: "Lato", sans-serif;
  font-size: clamp(1.6rem, calc(1.6rem + ((100vw - 750px) * ((32 - 16) / (1200 - 750)))), 3.2rem );
  text-align: center;
  text-transform: uppercase;
}

.el_lv3Heading::before {
  content: attr(data-subtitle);
  display: block;
}

.el_lv3Heading:first-line {
  color: #e3bf00;
  font-size: clamp(1.4rem, calc(1.4rem + ((100vw - 750px) * ((40 - 14) / (1200 - 750)))), 4rem );
}

.el_lv4Heading {
  font-size: clamp(1.6rem, calc(1.6rem + ((100vw - 750px) * ((32 - 16) / (1200 - 750)))), 3.2rem );
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, #e3bf00 70%);
}

.el_scrollTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  transition: bottom 0.2s;
  z-index: 30;
}

.el_scrollTop > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #82C0EB;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.el_scrollTop > button:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
}

.bl_slider li {
  aspect-ratio: 1440/960;
  max-height: 940px;
}

.bl_slider_inner {
  display: grid;
  place-items: center;
  height: 100%;
}

.bl_slider_body h1 {
  font-size: clamp(2rem, calc(2rem + ((100vw - 750px) * ((40 - 20) / (1200 - 750)))), 4rem );
  background-color: #fafafa;
  width: fit-content;
}

.bl_slider_body p {
  font-size: clamp(1.6rem, calc(1.6rem + ((100vw - 750px) * ((20 - 16) / (1200 - 750)))), 2rem );
  background-color: #fafafa;
  width: fit-content;
  margin-top: 1em;
}

.bl_slider_imgWrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -10;
  width: 100VW;
  height: 100%;
  object-fit: cover;
}

.bl_slider_dots {
  gap: 1em;
  margin-top: 20px;
  position: static;
}

.bl_slider_dots li button {
  position: relative;
  width: 16px;
  height: 16px;
}

.bl_slider_dots li button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: lightblue;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: background-color 0.4s;
}

.bl_slider_dots button.is-active {
  transform: scale(1);
}

.bl_slider_dots button.is-active::before {
  background-color: transparent;
  border: 1px solid #ccc;
}

.post-navigation {
  width: 80%;
  margin: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  border: 2px solid #43769A;
}

.js_body.is_active {
  overflow: hidden !important;
}

.js_drawer[aria-expanded=true] .bl_drawerLine {
  background-color: transparent;
}

.js_drawer[aria-expanded=true] .bl_drawerLine::before,
.js_drawer[aria-expanded=true] .bl_drawerLine::after {
  top: 50%;
}

.js_drawer[aria-expanded=true] .bl_drawerLine::before {
  transform: translateY(-50%) rotate(45deg);
}

.js_drawer[aria-expanded=true] .bl_drawerLine::after {
  transform: translateY(-50%) rotate(-45deg);
}

.js_drawerNav[aria-hidden=false] {
  transform: translateX(0);
}

.js_header.is_active {
  background-color: rgba(150, 150, 150, 0.9) !important;
}

@media (min-width: 768px) {
  :where(a, button) {
    transition: background-color 0.4s, color 0.4s, opacity 0.4s;
  }

  .ly_header {
    padding: 10px 0;
  }

  .ly_header_inner {
    padding: 0 15px;
  }

  .ly_cont.ly_cont__col {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    padding: 1.5em 3%;
  }

  .ly_cont_side {
    flex: 0 0 260px;
  }

  .ly_cont {
    padding: 90px 0;
  }

  .ly_cont_inner {
    padding: 0 15px;
  }

  .ly_footer_inner {
    padding: 0 15px;
  }

  .bl_headerNav {
    display: block;
  }

  .bl_drawer_wrapper {
    display: none;
  }

  .el_scrollTop > button {
    transition: transform 0.2s;
  }
}

@media (min-width: 1024px) {
  .bl_drawerNav {
    display: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

@media (hover: hover) and (pointer: fine) {
  .bl_headerList a:hover,
  .bl_headerList a:focus {
    color: #246a92;
  }

  .el_btn__orange:hover,
  .el_btn__orange:focus {
    background-color: transparent;
    border: 2px solid orange;
    color: orange;
  }

  .el_scrollTop > button:hover,
  .el_scrollTop > button:focus {
    transform: scale(1.1);
  }
}
/*# sourceMappingURL=sourcemaps/style.css.map */